body {
    background: url("../img/food.png");
    line-height: 100%;
}

.well {
    display: inline;
}

.devoured {
    display: block;
    width: 30%;
}

h1, h2, h3, h4 {
    font-family: 'Patua One', cursive;
}